.place__image {
  width: 96%;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 96.4%;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 96.8%;
  }
}

@media screen and (max-width: 560px) {
  .place__image {
    width: 100%;
  }
}

